---
http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: UTF-8
      string: '{"symbol":"AAPL","side":"buy","type":"market","time_in_force":"day","qty":"0.5","extended_hours":false}'
    headers:
      Apca-Api-Key-Id:
      - test-api-key
      Apca-Api-Secret-Key:
      - test-secret-key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer, Basic realm="alpaca.markets", charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"message": "unauthorized."}

        '
  recorded_at: Sun, 21 Sep 2025 20:56:31 GMT
recorded_with: VCR 6.3.1
