---
http_interactions:
- request:
    method: get
    uri: https://api.quiverquant.com/v1/congressional-trades?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <QUIVER_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "data": [
            {
              "ticker": "CRM",
              "company": "Salesforce Inc.",
              "trader_name": "Maria Garcia",
              "trader_source": "congress",
              "transaction_date": "2024-01-20",
              "transaction_type": "Sale",
              "trade_size_usd": "$1,000 - $15,000",
              "disclosed_at": "2024-01-25T15:20:00Z"
            }
          ]
        }
  recorded_at: Fri, 21 Sep 2024 17:30:08 GMT
[...]
- request:
    method: get
    uri: https://api.quiverquant.com/v1/congressional-trades?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <QUIVER_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "data": [
            {
              "ticker": "ORCL",
              "company": "Oracle Corporation",
              "trader_name": "Nancy Davis",
              "trader_source": "congress",
              "transaction_date": "2024-01-26",
              "transaction_type": "Sale",
              "trade_size_usd": "$250,001 - $500,000",
              "disclosed_at": "2024-01-31T16:45:00Z"
            }
          ]
        }
  recorded_at: Fri, 21 Sep 2024 17:30:12 GMT
recorded_with: VCR 6.3.1