---
http_interactions:
- request:
    method: get
    uri: https://api.quiverquant.com/v1/congressional-trades?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <QUIVER_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "data": [
            {
              "ticker": "AAPL",
              "company": "Apple Inc.",
              "trader_name": "John Smith",
              "trader_source": "congress",
              "transaction_date": "2024-01-15",
              "transaction_type": "Purchase",
              "trade_size_usd": "$1,000 - $15,000",
              "disclosed_at": "2024-01-20T10:30:00Z"
            },
            {
              "ticker": "TSLA",
              "company": "Tesla, Inc.",
              "trader_name": "Jane Doe",
              "trader_source": "congress",
              "transaction_date": "2024-01-16",
              "transaction_type": "Sale",
              "trade_size_usd": "$15,001 - $50,000",
              "disclosed_at": "2024-01-21T14:45:00Z"
            },
            {
              "ticker": "MSFT",
              "company": "Microsoft Corporation",
              "trader_name": "Bob Johnson",
              "trader_source": "congress",
              "transaction_date": "2024-01-17",
              "transaction_type": "Purchase",
              "trade_size_usd": "$50,001 - $100,000",
              "disclosed_at": "2024-01-22T09:15:00Z"
            }
          ]
        }
  recorded_at: Fri, 21 Sep 2024 17:30:00 GMT
recorded_with: VCR 6.3.1